.movie-list {
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
    margin: 0 auto;
    gap: 3px;
}

.movie {
    display: flex;
    flex-wrap: wrap;
    width: 33%;
    background-color: white;
    position: relative;
    overflow: hidden;
}